maturin>=1.7,<2
ruff>=0.9,<1
tomli>=2,<3; python_version < "3.11"
httpx[http2]>=0.27,<1
httpx-socks[asyncio]>=0.13,<0.14
itemadapter>=0.13,<1
itemloaders>=1.4,<2
lxml>=4.9,<7
parsel>=1.10,<2
Pillow>=10,<13
